<h1> Task </h1>

  <p>User: <%= @task.user_id %><p>
  <p>Category: <%= @task.category_id %><p>
  <p>Title: <%= @task.title %><p>
  <p>Description: <%= @task.description %><p>
  <p>deadline: <%= @task.deadline %><p>
  <p>completed: <%= @task.completed %><p>
<hr />


